In [75]:
import pandas as pd
import numpy as np
from glob import glob
import os
import shutil
from tqdm import tqdm
import json

### 확장자 중복 처리

In [76]:

color_0=glob('./data/2022_05/Color/color_0/*.jpg')
color_1=glob('./data/2022_05/Color/color_1/*.jpg')
color_2=glob('./data/2022_05/Color/color_2/*.jpg')


residue_0=glob('./data/2022_05/Fecal_residue/Residue_0/*.jpg')
residue_1=glob('./data/2022_05/Fecal_residue/Residue_1/*.jpg')
residue_2=glob('./data/2022_05/Fecal_residue/Residue_2/*.jpg')

turbidity_0=glob('./data/2022_05/turbidity/turbidity_0/*.jpg')
turbidity_2=glob('./data/2022_05/turbidity/turbidity_2/*.jpg')

label_0=glob('./data/2022_04/0/*.jpg')
label_1=glob('./data/2022_04/1/*.jpg')
label_2=glob('./data/2022_04/2/*.jpg')

colors_list = [color_0,color_1,color_2]
residue_list = [residue_0,residue_1,residue_2]
turbidity_list = [turbidity_0,turbidity_2]
label_list = [label_0,label_1,label_2]

for colors in colors_list:
    for file in colors:
        if file.split('\\')[1].split('.')[1] == 'jpg-1':
            print(file)
            os.rename(file, file.split('.jpg-1')[0]+'.jpg')
            os.rename('.'+file.split('.')[1]+'.jpg-1.json' ,file.split('.jpg-1')[0]+'.json') #json 파일 바꾸기
            
for residues in residue_list:
    for file in residues:
        if file.split('\\')[1].split('.')[1] == 'jpg-1':
            print(file)
            os.rename(file, file.split('.jpg-1')[0]+'.jpg')
            os.rename('.'+file.split('.')[1]+'.jpg-1.json' ,file.split('.jpg-1')[0]+'.json') #json 파일 바꾸기
            
for turbids in turbidity_list:
    for file in turbids:
        if file.split('\\')[1].split('.')[1] == 'jpg-1':
            print(file)
            os.rename(file, file.split('.jpg-1')[0]+'.jpg')
            os.rename('.'+file.split('.')[1]+'.jpg-1.json' ,file.split('.jpg-1')[0]+'.json') #json 파일 바꾸기

for labels in label_list:
    for file in labels:
        if file.split('\\')[1].split('.')[1] == 'jpg-1':
            print(file)
            os.rename(file, file.split('.jpg-1')[0]+'.jpg')
            os.rename('.'+file.split('.')[1]+'.jpg-1.json' ,file.split('.jpg-1')[0]+'.json') #json 파일 바꾸기

# 파일 라벨링 처리

In [77]:
print("color_0 : ",len(color_0))
print("color_1 : ",len(color_1))
print("color_2 : ",len(color_2))
print("총 샘플 수 :",len(color_0)+len(color_1)+len(color_2) )

color_0 :  175
color_1 :  157
color_2 :  752
총 샘플 수 : 1084

In [78]:
print("residue_0 : ",len(residue_0))
print("residue_1 : ",len(residue_1))
print("residue_2 : ",len(residue_2))
print("총 샘플 수 :",len(residue_0)+len(residue_1)+len(residue_2) )

residue_0 :  233
residue_1 :  320
residue_2 :  531
총 샘플 수 : 1084

In [79]:
print("turbidity_0 : ",len(turbidity_0))
print("turbidity_2 : ",len(turbidity_2))
print("총 샘플 수 :",len(turbidity_0)+len(turbidity_2))

turbidity_0 :  454
turbidity_2 :  632
총 샘플 수 : 1086

---
### 파일 목록 가져오기
color 기준

In [80]:
from collections import defaultdict
image_list = defaultdict(lambda: [-1,-1,-1,-1]) #[color/Fecal_residue/turbidity/label]

### Color

In [81]:
for val, colors in enumerate(colors_list):
    origin_names = [color.split("\\")[1].split('.')[0] for color in colors ]

    for name in origin_names:
        if(image_list[name][0] == -1):
            image_list[name][0] = val
        else:
            print("duplicated Color data!! : ", name, val)
            print("already value is : ", image_list[name][0])

### Fecal_residue

In [82]:
for val, residues in enumerate(residue_list):
    origin_names = [residue.split("\\")[1].split('.')[0] for residue in residues ]

    for name in origin_names:
        if(image_list[name][1] == -1):
            image_list[name][1] = val
        else:
            print("duplicated Fecal_residue data!! : ", name, val)
            print("already value is : ", image_list[name][1])

duplicated Fecal_residue data!! :  IMG_20211119_012144_1 2
already value is :  1

### turbidity

In [83]:
for val, turbiditys in enumerate(turbidity_list):
    origin_names = [turbidity.split("\\")[1].split('.')[0] for turbidity in turbiditys]

    for name in origin_names:
        if(image_list[name][2] == -1):
            image_list[name][2] = val
        else:
            print("duplicated Turbidity data!! : ", name, val)
            print("already value is : ", image_list[name][0])

### label

In [84]:
for val, labels in enumerate(label_list):
    origin_names = [label.split("\\")[1].split('.')[0] for label in labels]

    for name in origin_names:
        if(image_list[name][3] == -1):
            image_list[name][3] = val
        else:
            print("duplicated Label data!! : ", name, val)
            print("already value is : ", image_list[name][3])

duplicated Label data!! :  IMG_20211119_012144_1 1
already value is :  0
duplicated Label data!! :  IMG_20210222_205946 2
already value is :  1

### pandas

In [89]:
df = {"origin_name":[], "color":[], "residue" : [], "turbidity":[], "label":[]}
not_enough_data = []
for key, val in image_list.items():
    if(-1 not in val):
        df["origin_name"].append(key)
        df["color"].append(val[0])
        df["residue"].append(val[1])
        df["turbidity"].append(val[2])
        df["label"].append(val[3])
    else:
        print("not enough data : ", key)
        print(val)
        not_enough_data.append(key)
df = pd.DataFrame.from_dict(df)

not enough data :  IMG_20210303_161015_1
[2, -1, 1, 2]
not enough data :  IMG_20200510_205628
[-1, -1, 0, 0]
not enough data :  IMG_20200510_213649
[-1, -1, 1, 0]

In [90]:
df.to_csv("./bmc.csv")
df

               origin_name  color  residue  turbidity  label
0             1301837407-1      0        0          0      0
1             1411450810-1      0        0          0      0
2             1651193832-1      0        0          0      0
3             2077897036-1      0        0          0      0
4              290980310-1      0        1          0      0
...                    ...    ...      ...        ...    ...
1078  PANO_20200407_221523      2        2          1      2
1079  PANO_20200407_221527      2        2          1      2
1080  PANO_20200818_174909      2        2          1      2
1081  PANO_20210330_062718      2        2          1      2
1082     tmp_1610355667809      2        2          1      2

[1083 rows x 5 columns]

### 파일명 변경

In [72]:
# color 기준
DATASET_PATH = './data/2022_05/Color'
NEW_PATH = './data/bmc/'

In [73]:
os.makedirs(NEW_PATH, exist_ok=True)

In [74]:
folders = os.listdir(DATASET_PATH)
for idx, val in tqdm(df.iterrows()):
    if(val["color"] == 0):
        copy_from = os.path.join(DATASET_PATH, folders[0], val['origin_name'])
    elif(val["color"] == 1):
        copy_from = os.path.join(DATASET_PATH, folders[1], val['origin_name'])
    else:
        copy_from = os.path.join(DATASET_PATH, folders[2], val['origin_name'])
    copy_to = NEW_PATH + f'/{idx:04}.jpg'
    shutil.copyfile(copy_from + ".jpg", copy_to)
    copy_to = NEW_PATH + f'/{idx:04}.json'
    shutil.copyfile(copy_from + ".json", copy_to)

1082it [00:04, 255.72it/s]

### json 수정

In [75]:
bmc_json = glob(NEW_PATH + '*.json')

for i in tqdm(bmc_json):
    with open(i, 'r', encoding='utf-8') as f:
        json_data = json.load(f)
    json_data["imagePath"] = i[-9:-5] + '.jpg'
    with open(i, 'w', encoding='utf-8') as f:
        json.dump(json_data, f, indent="\t")

100%|██████████| 1082/1082 [00:09<00:00, 108.83it/s]

### labelme to coco format (for fiftyone)

In [1]:
# import package
import labelme2coco

# set directory that contains labelme annotations and image files
labelme_folder = "./data/bmc/"

# set export dir
export_dir = "./data/"

# set train split rate
train_split_rate = 0.85

# convert labelme annotations to coco
labelme2coco.convert(labelme_folder, export_dir, train_split_rate)

There are 1082 listed files in folder ./data/bmc/.

Converting labelme annotations to COCO format: 100%|██████████| 1082/1082 [00:08<00:00, 134.35it/s]
09/20/2022 20:30:52 - INFO - labelme2coco -   Training split in COCO format is exported to data\train.json
09/20/2022 20:30:52 - INFO - labelme2coco -   Validation split in COCO format is exported to data\val.json