In [1]:
import torch
import torch.nn as nn # 인공 신경망 모델들 모아놓은 모듈
import torch.nn.functional as F #그중 자주 쓰이는것들을 F로
from torchvision import transforms, datasets
import torchvision.models as models
import cv2


import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from glob import glob
import sys
from tqdm import tqdm

Seed 1

In [20]:
label_df = pd.read_csv('../../bmc.csv')
column_names = list(label_df.columns)
column_names[0]='file_name'
label_df.columns = column_names

In [43]:
pd.merge(pd.DataFrame(X_train_name,columns=['file_name']),label_df,left_on='file_name',right_on='file_name',how='inner')

     file_name           origin_name  color  residue  turbidity  label
0            1          1411450810-1      0        0          0      0
1            2          1651193832-1      0        0          0      0
2            3          2077897036-1      0        0          0      0
3            4           290980310-1      0        1          0      0
4            5           492669076-1      0        1          0      0
..         ...                   ...    ...      ...        ...    ...
861       1078  PANO_20200407_221523      2        2          1      2
862       1079  PANO_20200407_221527      2        2          1      2
863       1080  PANO_20200818_174909      2        2          1      2
864       1081  PANO_20210330_062718      2        2          1      2
865       1082     tmp_1610355667809      2        2          1      2

[866 rows x 6 columns]

In [38]:
def get_num(file_str):
    return int(file_str.split("\\")[-1].split(".")[0])

X_train=glob('../../data/bmc_label_voc_split/images/train/*.jpg')
X_valid=glob('../../data/bmc_label_voc_split/images/val/*.jpg')

X_train_name=list(map(get_num,X_train))
X_valid_name=list(map(get_num,X_valid))

label_df = pd.read_csv('../../bmc.csv')
column_names = list(label_df.columns)
column_names[0]='file_name'
label_df.columns = column_names


#Y_train=