In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("../../bmc.csv",index_col=0)
df

               origin_name  color  residue  turbidity  label
0             1301837407-1      0        0          0      0
1             1411450810-1      0        0          0      0
2             1651193832-1      0        0          0      0
3             2077897036-1      0        0          0      0
4              290980310-1      0        1          0      0
...                    ...    ...      ...        ...    ...
1078  PANO_20200407_221523      2        2          1      2
1079  PANO_20200407_221527      2        2          1      2
1080  PANO_20200818_174909      2        2          1      2
1081  PANO_20210330_062718      2        2          1      2
1082     tmp_1610355667809      2        2          1      2

[1083 rows x 5 columns]

In [5]:
idx = 22
line=df.iloc[idx][['color','residue','turbidity']]

In [8]:
df.iloc[[22,23,24]][['color','residue','turbidity']]['color']

22    0
23    0
24    0
Name: color, dtype: int64